<!DOCTYPE html>
<html lang="en">
<head>
	<title>网络中心工作日志</title>
</head>
<body>
	<div>
		<label>记录人</label>
		<select>
			<option>龚应飞</option>
			<option>徐迪</option>
			<option>黄泽东</option>
			<option>翁晨瑜</option>
			<option>徐劲</option>
			<option>叶</option>
		</select>
	</div>
	<table border="1">
		<thead>
			<tr>
				<th>日期</th>
				<th>所属园区</th>
				<th>项目名称</th>
				<th>工作模块</th>
				<th>任务频率</th>
				<th>所属设备或系统</th>
				<th>故障问题描述</th>
				<th>问题部门</th>
				<th>问题人员</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th><input type="date" name="date"></th>
				<th><select>
					<option>材料所本部</option>
					<option>材料学院</option>
					<option>前湾园区</option>
					<option>慈溪园区</option>
				</select></th>
				<th><select>
					<option>用户运维</option>
					<option>设备运维</option>
					<option>BM</option>
				</select></th>
				<th><select>
					<option>一卡通</option>
					<option>统一身份认证</option>
					<option>科技云认证服务</option>
				</select></th>
				<th><input type="text" name="Frequency"></th>
				<th><input type="text" name="Belong"></th>
				<th><input type="text" name="Describe"></th>
				<th><select>
					<option>公共技术中心</option>
					<option>质量保密处</option>
				</select></th>
				<th><input type="text" name="Name"></th>
			</tr>
		</tbody>
	</table>
	<input type="submit" name="提交">
</body>
</html>