<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Title</title>
</head>
<body>
	<h1>2316</h1>
	<!--新标签页打开-->
	<a href="https://github.com/onethreeyeh" target="_blank">个人主页</a>
	<a href="/whoami">whoami</a>
	<div>
		<img style="height: 200px" src="/static/test.jpg">
	</div>
	<ul>
		<li>一去二三里</li>
		<li>烟村四五家</li>
		<li>亭台六七座</li>
		<li>八九十枝花</li>
	</ul>
	<ol>
		<li>第一</li>
		<li>第二</li>
	</ol>
	<h1>表格</h1>
	<!--border参数添加边框-->
	<table border = "1">
		<thead>
			<tr> <th>ID</th>	<th>姓名</th>	<th>备注</th> </tr>
		</thead>
		<tbody>
			<tr> <th>2316</th>	<th>叶一三</th>	<th>天才</th> </tr>
			<tr> <th>1225</th>	<th>孙子小</th>	<th>学霸</th> </tr>
		</tbody>
	</table>
	<h1>输入标签</h1>
	<div>
		文本框<input type="text">
	</div>
	<div>
		密码框<input type="password">
	</div>
	<div>
		多行文本<textarea rows="3"></textarea>
	</div>
	<div>
		<input type="file">
	</div>
	<div>
		<!--name属性相等，两个按钮互斥-->
		<input type="radio" name="r1">男 <input type="radio" name="r1">女
	</div>
	<div>
		<input type="checkbox">唱 <input type="checkbox">跳 <input type="checkbox">rap <input type="checkbox">篮球
	</div>
	<div>
		<input type="button" value="按钮">
		<input type="submit" name="提交">
	</div>
	<h1>选择框</h1>
	<select>
		<option>天才</option>
		<option>学霸</option>	
	</select>
	<select multiple>
		<option>天才</option>
		<option>学霸</option>
	</select>
</body>
</html>